<div class="container">
	<h2>Change Password</h2>
	<%= form_for @current_user do |f| %>
	<div class="field" style="100%">
		

			<%= f.password_field :password, placeholder: 'Create a new password', class: 'form-control' %>
			<%= f.password_field :password_confirmation, placeholder: 'Confirm new password', class: 'form-control' %>

			<%= f.submit 'Change Password' %>
			<% end %>
		</div>
	</div>