<div class="container">
	<h2>Registered Users - DELETE THIS FOR FINAL VERSION</h2>
	<table border="1" class="table">
		<tr>
			<th>userid</th>
			
		</tr>
		<% @users.each do |user| %>
		<tr>
			<td> <%= user.userid %> </td>
		</tr>
		<% end %>
	</table>
</div>
