<div class ="container">
	<h1 class = "jumbotron-heading">Congo - Contact Us</h1>
	<div class ="container">
		<div class="row">
			<div class ="col">
				<p>Lorem ipsum dolor sit amet, sanctus urbanitas scriptorem id has, vel cu probo nostrum fabellas. Vix an quod tation maluisset, ut eam nisl congue percipit, at epicuri democritum mei. Mel te etiam ignota pericula. Id vim option percipitur, pro molestie principes in. Affert assueverit eam no.

Homero invenire cu vis, qui labitur reprimique ad, eirmod vituperatoribus cu vix. Duo ad impedit probatus, cu consetetur constituam duo. No vidisse molestie qui, viris probatus at pro. Vivendo adversarium eu eam.</p>
			</div>

			</div>
		</div>
	</div>